



h1{
    color:red;
    text-decoration:underline;
    text-align: center;
  }
  p{
    text-align: center;
    color:blue;

    }
  #dee{
    color:yellow;
  }
  h2{
    text-decoration:underline;
    text-align: center;
  }
  .footer{
    color:green;
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }
  .navbar {
    background: #f50;
    color: white; 
    text-align: center;
    justify-content: center;
}

.navbar ul li {
    display: inline-block;
    position: relative;
    min-width: 150px;  
}


.navbar ul li a  {
    min-width: 150px;  
    display: inline-block;
    color: white;
    text-decoration: none;
   /* transition: all .5s ease-in-out;*/
    padding: 15px;
}


.navbar ul li:hover a {
    background: #ddd;
    color: #444;
}

.navbar ul li ul {
    position: absolute;
    display: none;   
}

.navbar ul li:hover ul {
    display: block;
}


.navbar ul li ul li:hover a {
    background: #eee; 
  }
  ul {
    margin: 0;
    padding: 0;
}



.deep  {
  text-align: center;
  text-decoration: none;
}


img {
  border-radius: 8px;
}

body{
  background-color:#f4f4f4;
  color:#555555;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;

}
.center {
  text-align: center;
  border: 3px solid green;
}



